.DS_Store
.vscode

TD_coord.*.toe
!TD_coord.toe

__pycache__
*.pyc
*.pyc.*

*cpp/AzimuthElevation/all.json
*cpp/AzimuthElevation/ArduinoJson.h
*cpp/AzimuthElevation/sgp4
*cpp/AzimuthElevation/*.bin
*cpp/AzimuthElevation/*.out
